@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <h2>Bem vindo ao meu Teste Técnico</h2>
        <hr />
        <p>
            Esta foi uma simples aplicação que construi para demonstrar como utilizar
            o Web API e Web Application com ASP.NET Core no padrão MVC de arquitetura.
        </p>
        <p>
            Para validar tudo que foi proposto basta navegar pelos menus
            <b>Categoria</b> e <b>Produto</b> dispostos no header superior.
        </p>
        <p>
            Para ambos os menus, desenvolvi um CRUD com <b>Web Application</b> e <b>Web API</b> para
            preenchimento, consumo e repasse de dados.
        </p>
        <p>
            Na criação das páginas <b>Web</b> utilizei o <b>Razor</b> e configurei algumas
            tags com <b>Bootstrap</b> e definições de <b>CSS</b>.
        </p>
        <p>
            No <b>Backend</b>, todo desenvovido na linguagem de programação <b>C#</b>, utilizei
            o Web API para criação dos endpoints que são consumidos via aplicação Web.
            Como <b>Desing Pattern</b> utilizei o padrão <b>MVC</b> de arquitetura,
            agregando algumas outra configurações tais como o <b>Mapper</b>
            para modelar, de forma mais fácil, as entidades conforme banco de dados.
        </p>
        <p>
            Utilizie o <b>MySql</b> como banco de dados para modelar as entidades
            de <b>Categoria</b> e <b>Produto</b>.
        </p>
        <p>
            Dentro do proposto no téste, procurei desenvolver uma coisa mais básica,
            porém dentro do que foi proposto.
        </p>
        <p>
            Por fim, espero ter atendido, mesmo que minimamente, o proposto no teste técnico
            e dentro das possibilidades de tempo.
        </p>
    </div>
</div>
